

    #card{
        width: 540px;
    }
 
  @media only screen and (max-width: 800px) {
    #card{
        width: 240px;
    }
  }
  @media only screen and (max-width: 400px) {
    #card{
        width: 140px;
    }
  }